.alarmHistorySearchBar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-content: center;
    column-gap: 10px;
}

.alarmHistoryDisplayerAndAlarmInfoContainer
{
    display: flex;
    align-items: center;
    padding: auto;
    width: 100%;
}

.pulledAlarmsDisplayer
{
    padding: 10px 10px;
    width: 80%;
}

/* This is where the spawned alarms will be placed */
.displayedAlarmsContainer
{
    width: 100%;
    overflow-y: scroll; /* Display this as scrollable */
    max-height: 50vh;
    overflow-x: hidden;
}

.alarmResult
{
    margin: auto 0;
    padding: 10px;
    width: 80%;
}

.alarmInfoDisplayer
{
    width: 80%;
}

.alarmInfoContainer
{
    width: 100%;
    height: 90%;
}